<!--Child-->

<form > 
  
    <h3>Hell-0, let's try Login, using Angular</h3><br>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      placeholder="Enter your username"
      [(ngModel)]="user.username"
    />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      placeholder="Enter your password"
      required
      [(ngModel)]="user.password"
    />
  </div>
  <button type="button" (click)="onLoginClicked()">Login</button>
  <h2 *ngIf="loginMessage">{{ loginMessage }}</h2>
  <h4 *ngIf="loginError">{{ loginError }}</h4>
  <!--/register-->
  <a href="/register">"I should register before I login"</a>
</form>
