<!--Child-->

<form>
  <h3>Hell-0, let's try Register, using Angular.</h3>
  <br>
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      autocomplete="username"
      minlength="3"
      maxlength="12"
      placeholder="Input desired username"
      [(ngModel)]="user.username"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      minlength="5"
      maxlength="42"
      placeholder="Input desired password"
      required
      [(ngModel)]="user.password"
    />
  </div>
  <div>
    <label for="confirm-password">Confirm Your Password</label>
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      placeholder="Confirm password input"
      required
      [(ngModel)]="confirm.password"
    />
  </div>

  <!--Confirm password + simple "I'm not a robot"-->
  <div *ngIf="confirm.password === user.password">
    <label for="register-check">Ready to register</label>
    <input
      type="checkbox"
      id="register-check"
      [checked]="showRegister"
      (click)="toggleRegister()"
    />
  </div>
  <!--Shows during registration-->
  <div *ngIf="isLoading">
    <h3>Registering your acccount...</h3>
  </div>
  <button
    id="register"
    *ngIf="showRegister"
    type="button"
    (click)="onRegisterClicked()"
  >
    Register here
  </button>
  <h2 *ngIf="registerMessage">{{ registerMessage }}</h2>
  <h4 *ngIf="registerError">{{ registerError }}</h4>
  <!--/login-->
  <a href="/login">"I'm registered already"</a>
</form>
