/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Mono&display=swap");

/* app-root {

} */



body {
  font-variant: small-caps;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace, "Open Sans Condensed", sans-serif;
  background: #105668e8;
  color: #f6e088ca;
  font-size: 2vw;
  border: 0.4rem double goldenrod;
  border-radius: 2em / 33%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4 {
  color: red;
}

h2 {
  color: rgb(118, 248, 12);
}

h3, ::placeholder, a {
  color: goldenrod;
  font-variant: small-caps;
}
a {
  font-size: 1.5vw;
  position: relative;
  bottom: -1em
}

form, div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border: 0.5rem double goldenrod;
  border-radius: 2em / 33%;
}



input {
  font: inherit;
  font-size: 0.9rem;
  border-width: 2px;
  color: #f6e088ca;
  background: transparent;
  text-align: center;
  border-style: dotted;
}

/*Checkbox*/
input[type="checkbox" i] {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border-radius: 2em / 33%;
  vertical-align: middle;
  border: 2px solid goldenrod;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
 
}

input:checked {
  background-color: goldenrod;
}



/*Button*/
button, #register {
  font-variant: small-caps;
  font-size: 1.2em;
  background: transparent;
  color: #f6e088ca;
  border-radius: 2em / 33%;
  border: 0.4rem double goldenrod;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}
